    <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            
                <div class="content">
                    <div class="container-fluid">
                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="page-title">Contacts List</h4>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Form</a></li>
                                    <li class="breadcrumb-item active">Contacts</li>
                                </ol>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                               
                                   <button class="btn btn-default btn-md waves-effect waves-light m-b-30" onclick="showForm();">
                                    <i class="md md-add"></i>
                                    Add Contacts
                                 </button>

                            </div>
                        </div>

                         <div class="row justify-content-md-center">
                            <div class="col-sm-12 col-md-8 col-lg-8">
                                <div class="card-box">
                                    {{#if flash.error}}
                                        <div class="alert alert-danger">
                                        {{{flash.error}}}
                                        </div>
                                    {{/if}}
                                    {{#if flash.success}}
                                        <div class="alert alert-success">
                                        {{{flash.success}}}
                                        </div>
                                    {{/if}}
                                        <h4 class="text-dark header-title m-t-0">Senders List</h4>
                                        <div class="table-responsive">
                                                <table class="table table-actions-bar">
                                                    <thead>
                                                    <tr>
                                                        <th>Sr. No.</th>
                                                        <th>Name</th>
                                                        <th>Total No. contacts</th>
                                                        <th>Status</th>
                                                        <th>Created</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {{#if clists.length }}
                                                    {{#each clists }}

                                                   <tr>
                                                        <td>{{incrementedIndex @index}}</td>
                                                        <td>{{{this.name}}}</td>
                                                        <td>{{this.contactsCount}}</td>
                                                        <td>
                                                            {{#if this.status }}
                                                                 <input id="{{this._id}}" class="switch" type="checkbox" checked=""  name="status" data-id="{{this._id}}">
                                                            {{else}}
                                                                <input id="{{this._id}}" class="switch" type="checkbox"  name="status" data-id="{{this._id}}">
                                                            {{/if}}
                                                        </td>
                                                        <td>{{formatDate this.createdAt}}</td>
                                                        <td>

                                                        </td>
                                                    </tr>
                                                   {{/each}}
                                                   {{else}}
                                                   <h4 class="text-dark header-title m-t-0">No Page data found</h4>
                                                   {{/if}}
                                                    </tbody>
                                                </table>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <!-- end row -->
                    </div> <!-- container -->
                </div> <!-- content -->

    <div class="right-card">
		<div class="card-body">
		<h4 class="text-white header-title m-t-0 m-b-20">Add Contacts List</h4>
		<form id="form_data" method="POST" action="" onsubmit="return saveContacts();"  >	
			<div class="mb-3">
                <label class="form-label text-white" for="email">Group Name *</label>
                <input id="name" type="text" class="form-control" name="name" value="" required="" />
		    </div>
            <div class="mb-3">
                <label class="form-label text-white" for="email">Contacts File *</label>
                <input id="contacts" type="file" class="form-control" name="contacts" value="" required="" accept=".xlsx, .xls, .csv" />
                <small class="text-white">(Only .csv,.xlsx or .xls file) <a class="text-white" href="/emails.xlsx"> <i class="md md-download"></i> Download Sample File</a></small>
		    </div>
            
            <div class="mb-3 m-t-40">
                <button id="save"  type="submit" class="btn btn-purple btn-md w-md waves-effect waves-light" >
                    Save
                </button>
                <button  type="button" class="btn btn-purple btn-md w-md pull-right" onclick="showForm()">
                    Cancel
                </button>
            </div>
         <div id="outMsg" class="mb-3"></div>
		</form>
		</div>
	</div>

<script>
    $(function(){
        //document.getElementById('#status');
        var switches = Array.prototype.slice.call(document.querySelectorAll('.switch'));
        switches.forEach(function(switchElem) {
            var switchery = new Switchery(switchElem);
            switchElem.onchange = function() {
                fetch('/admin/template/change-identitiy-status/'+switchElem.id, {
                    method: 'POST'
                })
                .then(response => response.text())
                .then(result => {
                    var r = JSON.parse(result);
                    console.log(r);
                }).catch(error => {
                    console.error('Error:', error);
                });
            };
        });
    });

function showForm(){
	$('.right-card').toggleClass('active');
}

function saveContacts(){
    var l = Ladda.create(document.querySelector('#save'));
    l.start();
    //const name = document.getElementById('name').value;
    const form = document.getElementById('form_data');
    var catForm = new FormData(form);
        fetch('/admin/template/save-contacts', {
            method: 'POST',
            body:catForm
        })
        .then(response => response.text())
        .then(result => {
            var r = JSON.parse(result);
            l.stop();
            if(r.status=='success'){
                $('#outMsg').html('<div class="alert alert-success">'+r?.message+'</div>');
                form.reset();
                window.location.reload(true);
            }
            if(r.status=='error'){
                $('#outMsg').html('<div class="alert alert-danger">'+r?.message+'</div>');
            }
        }).catch(error => {
            console.error('Error:', error);
            l.stop();
             $('#outMsg').html('<div class="alert alert-danger">'+error?.message+'</div>');
        });
    return false;
}
</script>
               


